<%= form_for @post do |f| %>

    <label>Name</label>
    <div id="name", class="form-group">
        <%= f.text_field :name, class: 'input'%>
    </div>

    <label>Content</label>
    <div id="post", class="form-group">
        <%= f.text_field :content, class: 'input'%>
    </div>

    <div class="form-group">
        <a href="<%= post_path %>" class="button1">Back to <%= @post.name %></a>
        <button type="submit" class="button1">Edit Post</button>
    </div>

<% end %>