<!DOCTYPE html>

<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">
          <a href="<%= root_path %>"><h1>WAIFU</h1></a>
        </h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="<%= helloWorld_path%>">ARTISTS</a>
          <a class="nav-link" href="<%= info_path %>">ABOUT</a>
        </nav>
      </div>
    </header>

  </body>

  <div class="container" style="padding-top: 5rem;">
    <%= yield %>
  <div>
</html>
